* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 2rem;

  background: url("./assets/fogo.png");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: sans-serif;
}

img {
  width: 100px;
}

h1 {
  color: white;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cachoro {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  flex-direction: column;

  color: white;
  text-align: center;
}

@media (max-width: 900px) {
  html {
    font-size: 65%;
  }

  body {
    padding: 0.5rem;
  }

  img {
    width: 40px;
  }

  #root {
    flex-direction: column;
  }

  .group {
    flex-direction: row;
    gap: 3rem;
  }
}
